/*
 * COLORS:
 * BG: #8C896C
 * HEADER: #CCD9BC
 * TEXT: #4F0017
 * LINK: #003F4F
 * LINK (VISIT): #00174F
 */
body {
    background-color: #8C896C;
    font-family: Georgia, serif;
    color: #4F0017;
    font-size: 1.3em;
    margin: 0;
}
a {
    text-decoration: underline;
}
a:link {
    color: #003F4F;
}
a:visited {
    color: #00174F;
}
div,p,nav,header,footer,section,aside {
    margin: 0;
    display: block;
    overflow: hidden;
}
#logo {
    display: block;
    position: fixed;
    top: 0.1em;
    right: 0.2em;
    width: 2.7em;
    z-index: 4000;
    /*
    background-image: url("../images/logo_36.png");
    background-position: bottom right;
    background-repeat: no-repeat;
    */
    text-align: center;
    text-decoration: none;
    font-size: 200%;
    font-weight: bold;
    color: #4F0017;
}
#logo * {
    vertical-align: top;
}
nav {
    position: fixed;
    top: 0px;
    left: 0px;
    min-height: 45px;
    width: 100%;
    background-color: #CCD9BC;
    font-family: Futura, "Gill San MT", sans-serif;
    font-size: 115%;
    z-index: 2000;
}
nav ul {
    margin: 0;
    padding: 0;
}
nav li {
    display: inline-block;
}
nav a {
    display: block;
    padding: 0.5em;
    text-decoration: none;
}
nav a:link {
    color: inherit;
}
nav a:visited {
    color: inherit;
}
.slide > a {
    display: inline-block;
    cursor: pointer;
}
.slide ul {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}
.slide li {
    font-size: 70%;
    font-style: italic;
}
.slide li a {
}
.slide li a:before {
    content: "\00BB        ";
}
#artnav {
    position: fixed;
    top: 20%;
    right: 0;
    margin: 0 auto;
    font-size: 120%;
    opacity: 0;
    filter: alpha(opacity=0);
    z-index: 1000;
}
#artnav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#artnav ul a {
    border-color: #771111;
    border-width: 2px 0 2px 2px;
    border-style: solid;
    padding-right: 1em;
    margin: 0.5em -0.5em 0.5em 0;
    text-align: left;
}
header {
    height: 1277px;
    width: 100%;
    background-color: #8C896C;
    background-image: url("../images/banner.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    font-size: 200%;
    color: #4F0017;
    text-align: center;
    z-index: -200;
}
h1 {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    !font-family: Futura, "Gill San MT", sans-serif;
    font-size: 300%;
}
#headlogo {
    margin: auto;
    height: 200px;
    width: 200px;
    background: #CCD9BC;
    border-radius: 50%;
    padding: 20px;
    opacity: 75%;
}
header p {
    margin: 1em auto;
    width: 80%;
    font-style: italic;
}
.unstuck {
    position: absolute;
    top: 40px;
}
.stuck {
    position: fixed;
}
#scrolling {
    position: absolute;
    top: 1080px;
    left: 50%;
    min-height: 25em;
    height: auto;
    width: 80%;
    margin-left: -40%;
    margin-bottom: 2em;
    background-color: #FFF;
    text-align: center;
    overflow: hidden;
    z-index: -100;
}
h2 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 200%;
    font-style: italic;
    text-align: center;
    padding-bottom: 0.5em;
    border-width: 0 0 2px 0;
    border-color: #8C896C;
    border-style: solid;
}
h3 {
    font-size: 150%;
    margin: 1em 1em 0 1em;

}
.left {
    display: inline-block;
    width: 40%;
    float: left;
    margin: 1em 0;
    padding: 0 4%;
}
.divide {
    height: 0;
    width: 2%;
    display: inline-block;
    margin: 1em auto;
    padding: 0;
    border-width: 0 2px;
    border-style: solid;
    border-color: #4F0017;
}
.right {
    display: inline-block;
    width: 40%;
    float: right;
    margin: 1em 0;
    padding: 0 4%;
}
.center {
    width: 90%;
    margin: 1em auto;
    padding: 0 4%;
}
.art_box {
    display: inline-block;
    margin: 0 1em 1em 0;
    position: relative;
}
.art_box span {
    display: block;
    position: absolute;
    top: 10px;
    width: 96%;
    padding: 2%;
    background-color: #FFF;
    font-size: 115%;
    font-style: italic;
    opacity: 0.7;
    filter: alpha(opacity=70);
}
.hidden {
    z-index: -10;
}
.visible {
    z-index: 10;
}
.art_box img {
    opacity: 1.0;
    filter: alpha(opacity=100);
    z-index: 1;
}
.horiz_list {
    list-style-type: none;
    padding: 0;
    margin: 1em;
}
.horiz_list li {
    display: inline-block;
    padding: 0.5em;
}
.spread_list {
    text-align: left;
    line-height: 1.5em;
}
.spread_list li {
    padding: 0.5em;
}
.block_link {
    display: block;
    text-align: center;
    padding: 0.5em;
    margin: 0;
    background-color: #96A087;
    font-style: italic;
    text-decoration: none;
    border-radius: 10px;
}
.block_link:hover {
    background-color: #BCC6B1;
}
.little_block {
    display: block;
    padding: 1em;
}
aside {
    float: right;
    padding: 0.5em 1.5em;
    text-align: center;
    font-style: italic;
    font-weight: bolder;
    font-size: 150%;
}
footer {
    position: relative;
    text-align: center;
    width: 100%;
    margin: 1em auto;
    font-size: 80%;
    color: #8C896C;
}
