body {
	font-size: 200%;
}
#logo {
	position: fixed;
	height: 70px;
	width: 70px;
}
nav .horiz_list li {
	display: block;
	border: 1px solid #4F3F1F;
}
nav {
	position: static;
	height: auto;
}
nav ul {
	float: none;
	position: static;
	width: 100%;
	text-align: center;
}
header {
	position: static;
	font-size: 150%;
	padding-top: 0px;
	max-height: 1000px;
}
h1 {
	margin-bottom: 0;
}
header p {
	margin-top: 0;
}
.unstuck {
	position: static;
}
.stuck {
	position: static;
}
#scrolling {
	position: static;
	width: 100%;
	margin: 0px;
	padding: 0px;
}
.left, .right {
	float: none;
	width: 90%;
}
.divide {
	display: block;
	height: 1em;
	width: 90%;
	margin: 2em auto;
	border-width: 2px 0;
}
.art_box span {
}
.hidden {
    z-index: 10;
}