@font-face {
    font-family: Avenir;
    src: url(Avenir.ttc);
}

html, body {
    width: 100%;
    height: 100%;
    color: rgb(21, 6, 6);
    font-family: Avenir;
    margin: 0;
    padding: 0;
}

#top {
    display: flex;;
    justify-content: space-between;
    align-items: flex-start;
}

#title > * {
    padding: 1em;

}

#title img {
    width: 80px;
    vertical-align: middle;
}

h1, h2 {
    display: inline-block;
    margin: 0em;
}

.on_page {
    text-decoration: underline;
}

a {
    display: inline-block;
    color: rgb(21, 6, 6);
    cursor: pointer;
}

#content {
    padding: 2em;
}

#artworks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.artwork {
    width: 45%;
    margin-bottom: 2em;
}

.artwork a {
    display: block;
}

.artwork img {
    width: 100%;
}

.artwork div {
    margin-top: 0.5em;
    float: right;
}

#contacts a {
    padding: 1em;
}

@media (max-device-width: 812px) {
    body {
        font-size: 150%;
    }

    .artwork {
        width: 100%;
    }
}
