<html>

<head>
    <title>Annalise Mariottini - {{title}}</title>
    <link rel="stylesheet" href="global.css">
    <script>
        // make img elements the correct size dynamically so they hold the correct screen space while imgs loading
        function resizeMedia() {
            const mq = window.matchMedia( "(max-device-width: 812px)" );
            const percent_width = mq.matches? 1.0 : 0.45;
            const artworks_container = document.getElementById('artworks');
            const artworks = document.getElementsByClassName('artwork');

            for (let i = 0; i < artworks.length; i++) {
                const artwork_img = artworks[i].getElementsByTagName('img')[0];
                const original_width = artwork_img.getAttribute('original-width');
                const original_height = artwork_img.getAttribute('original-height');

                artwork_img.width = Math.floor(artworks_container.clientWidth * percent_width);

                const multiplier = artwork_img.width / original_width;

                artwork_img.height = Math.floor(original_height * multiplier);
            }
        }
        document.addEventListener('DOMContentLoaded', resizeMedia);
        window.addEventListener('resize', resizeMedia);
    </script>
</head>

<body>
    <div id="top">
        <div id="title">
            <img src="images/logo.png" />
            <h1>Annalise Mariottini</h1>
            {% if title == "Contact" %}
            {% set contactclass = 'on_page' %}
            {% else %}
            {% set contactclass = '' %}
            {% endif %}
            <a href="/">
                <h2 class="{{contactclass}}">
                    Contact
                </h2>
            </a>
            {% if title == "Art" %}
            {% set artclass = 'on_page' %}
            {% else %}
            {% set artclass = '' %}
            {% endif %}
            <a href="/art">
                <h2 class="{{artclass}}">
                    Art
                </h2>
            </a>
        </div>
    </div>
    {{content}}
</body>

</html>
